{% extends 'default_block.html' %}
{% block title %}Usuarios{% endblock %}
{% block pageContent %}
        <div data-name="home" class="page" id='home'>
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
              <div class="title">Principal</div>
              <div class="right">
                <a class="link icon-only panel-open" data-panel=".panel-left">
                    <i class="fas fa-bars"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="panel panel-left panel-cover panel-init" data-container-el="#home" id="elpanel">
            <div class="navbar">
              <div class="navbar-bg"></div>
              <div class="navbar-inner">
                <div class="title">Menú</div>
                <div class="right">
                  <a class="link icon-only panel-close" data-panel=".panel-left">
                      <i class="far fa-times-circle"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="page">
              <div class="page-content">
                <div class="block">
                  <div class="list links">
                    <ul>
                      <li><a href="#">Historial</a></li>
                      <li><a href="#">Historial</a></li>
                      <li><a href="#">Cerrar Sesión</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-content">
            <div class="block-title">Example block</div>
            <div class="list inset">
              <ul>
                <li>
                  <a href="#" class="item-content">
                    <div class="item-inner">
                      <div class="item-title">{{ usuario }}</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" class="item-content">
                    <div class="item-inner">
                      <div class="item-title">Entregas este mes:</div>
                      <div class="item-after">8</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" class="item-link item-content">
                    <div class="item-inner">
                      <div class="item-title">Ultra long text goes here, no, it is really really long</div>
                      <div class="item-after">8</div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">Recibir viajes</div>
                      <div class="item-after">
                        <label class="toggle toggle-init">
                          <input type="checkbox"/>
                          <span class="toggle-icon"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="block-footer">
                <p>Here comes some useful information about list above</p>
              </div>
            </div>
          </div>
        </div>
{% endblock %}