{% extends 'default_block.html' %}
{% block title %}Usuarios{% endblock %}
{% block pageContent %}
        <div data-name="home" class="page">
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
              <div class="title">Bienvenid@ {{ usuario }}</div>
            </div>
          </div>
          <div class="page-content">
            <div class="block-title">Example block</div>
            <div class="block">
              Este es un mensaje generico. Muuuy generico.
            </div>
          </div>
        </div>
{% endblock %}